:root {
  --hover-effect: rgba(0, 0, 0, 0.11);
  --gray-out-effect: rgba(128, 128, 128, 0.603);

  --html-light: #E96228;
  --html-dark: #DD4B25;

  --css-light: #2965F1;
  --css-dark: #285AEB;

  --js-dark: #FBDC3D;
  --js-light: #F7DF1E;

  --bootstrap-dark: #592A9C;
  --bootstrap-light: #8411F6;
  
  --sass-dark: #C76494;

  --jquery-dark: #0C63A7;

  --react-dark-gray: #212121;
  --react-light-blue: #5FD6F7;

  --sql-purple: #4B4DA0;
  --sql-orange: #E98A38;

  --ruby-background: #e49279;
  --ruby-dark-red: #D4150E;
  --ruby-light-red: #E80E12;

  --python-blue: #376FA0;
  --python-yellow: #F9C53B;

  --r-blue: #0059B7;
  --r-gray: #B4B5BA;
}

body {
  font-size: 16px;
  background-color: rgb(64, 62, 80);
  
}

#main-doc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
div.square_border {
  text-align: center;
  border: 2px solid green;
  border-radius: 4px;
  width: 6em;
  height: 6em;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.square_border > div {
  cursor: default;
}
a {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
}

a:hover {
  background-color: var(--hover-effect);
}

a.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--gray-out-effect);
  border-radius: 4px;
  width: 96px;
  height: 96px;
}

#target_html {
  background-color: var(--html-dark);
  border: 2px solid var(--html-light);
  color: white;
}

#target_css {
  background-color: var(--css-dark);
  border: 2px solid var(--css-light);
  color: white;
}

#target_js {
  background-color: var(--js-dark);
  border: 2px solid var(--js-light);
  color: black;
}

#target_bootstrap {
  background-color: var(--bootstrap-light);
  border: 2px solid var(--bootstrap-dark);
  color: white;
}

#target_sass {
  background-color: white;
  border: 2px solid var(--sass-dark);
  color: var(--sass-dark);
}

#target_jquery {
  background-color: white; 
  border: 2px solid black;
  color: var(--jquery-dark)
}

#target_react {
  background-color: var(--react-dark-gray);
  border: none;
  color: var(--react-light-blue);
}

#target_sql {
  background-color: var(--sql-purple);
  border: 2px solid white;
  color: var(--sql-orange);
}

#target_ruby {
  background-color: var(--ruby-background);
  border: 2px solid var(--ruby-light-red);
  color: var(--ruby-dark-red)
}

#target_python {
  background-color: var(--python-blue);
  border: none;
  color: var(--python-yellow);
}

#target_r {
  background-color: var(--r-blue);
  border: 2px solid var(--r-gray);
  color: var(--r-gray);
}

#target_html, #target_css, #target_js {
  margin-top: 2em;
}