body {
  font-size: 16px;
  background-color: rgb(64, 62, 80);
  
}

#main-doc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
div.square_border {
  text-align: center;
  border: 2px solid green;
  border-radius: 4px;
  width: 6em;
  height: 6em;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

